.form-field {
  position: relative;
}

.nft-pledge-field {
  width: 80%;
  border: 1px solid #fff;
  background: none;
  border-radius: 5px;
  margin: 1rem;
  color: #fff;
  padding: 0.3125rem 0.5rem;
  font-size: 0.7rem;
}

.nft-pledge-field-pad-left {
  padding-left: 2rem;
}

.nft-pledge-field-pad-right {
  padding-right: 2rem;
}

.form-field-icons {
  /* position: relative;
   */
  height: auto;
}

.form-field-icons-left {
  position: absolute;
  left: 24px;
  top: 16px;
  color: #fff;
}

.form-field-icons-right {
  position: absolute;
  right: 29px;
  top: 18px;
  color: #fff;
}
